body {
	margin: 0;
}


.wrapper {
	margin: auto;
	width: 91%;
}



.header {
	display: flex;
	justify-content: space-between;
	margin: 40px 0 123px 0;
}



.logo {
	position: relative;
	padding-left: 44px;
	font: 700 24px/32px pt_serifbold, arial, helvetica, sans-serif;
}



.logo__circle {
	position: absolute;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	opacity: .7;
}


.logo__circle_color_dark-blue {
	left: 0;
	top: 50%;
	transform: translateY(-55%);
	background: #0056EC;
}



.logo__circle_color_blue{
	left: 8px;
	top: 25%;
	background: #C8DBFB;
}


.burger {
		display: none;
	}


.menu {
	display: flex;
	align-items: center;
	transform: translateX(-1%) translateY(12%);
}



.menu__item {
	position: relative;
	margin-right: 26px;
	font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}



.menu__item:last-child {
	margin-right: 0;
}



.menu__item:hover {
	opacity: .5;
}


.menu__item:after {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s, width .5s;
}


.menu__item_active:after {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #0056EC;
}


.menu__item:hover:after {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #0056EC;
}



.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
	width: 100%;
}



.main {
	padding: 17px 52% 193px 0;
	background: 100% 0/55% no-repeat url('image/frame.svg');
}



.main__title {
	margin: 0 0 38px 0;
	width: 434px;
	font: 700 50px/66px pt_serifbold, arial, helvetica, sans-serif;
}


.main__title-text_excretion {
	background: 0% 75%/100% 80% no-repeat url(image/back.svg);
}


.main__description {
	margin: 0 0 41px 0;
	width: 367px;
	font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
}



.main__button {
	display: inline-block;
	padding: 15px 28px 14px 16px;
	background: #0056EC;
	border-radius: 4px;
	color: #FFF;
	border: none;
	font: 500 14px/16px robotoregular, arial, helvetica, sans-serif;
	text-decoration: none;
	transition: .5s;
}



.main__button:hover {
	opacity: .5;
}


@media (min-width: 1366px) {
	.wrapper {
		width: 68%;
	}

	.burger {
		display: none;
	}
}

@media (min-width: 1920px) {
	
	.wrapper {
		width: 79.6%;
	}

	.header {
		margin: 39px 0 173px 0;
	}

	.burger {
		display: none;
	}

	.menu {
		transform: translateX(-2%) translateY(12%);
	}

	.menu__item {
		font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
	}

	.main {
		padding: 73px 60% 300px 0;
		background: 99% 0 no-repeat url(image/frame.svg);
	}

	.main__title {
		margin: 0 0 34px 0;
		width: 567px;
		font: 700 66px/87px pt_serifbold, arial, helvetica, sans-serif;
	}

	.main__description {
		margin: 0 0 42px 0;
		width: 455px;
		font: 400 22px/26px robotomedium, arial, helvetica, sans-serif;
	}

	.main__button {
		padding: 18px 37px 19px 21px;
		font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
	}

}


@media (max-width: 768px) {

	.wrapper {
		width: 87%;
	}

	.header {
		margin: 23px 0 28px 0;
	}

	.logo__text {
		visibility: hidden;
	}

	.menu {
		display: none;
	}

	.main {
		padding: 81% 0 0 0;
		background-size: 87%;
		background-position: top center;
		text-align: center;
	}

	.main__title {
		margin: 0 auto 31px auto;
		width: 267px;
		font: 700 30px/40px pt_serifbold, arial, helvetica, sans-serif;
	}

	.main__description {
		margin: 0 auto 25px auto;
		width: 250px;
		font: 500 16px/19px robotomedium, arial, helvetica, sans-serif;
	}

	.main__button {
		font: 500 14px/16px robotoregular, arial, helvetica, sans-serif;
		padding: 14px 22px;
	}

	.burger {
		display: block;
		position: relative;
		top: 9px;
		width: 25px;
		height: 17px;
	}

	.burger__top,
	.burger__center,
	.burger__bottom {
		position: absolute;
		width: 25px;
		height: 3px;
		background-color: #0056EC;
	}

	.burger__top {
		top: 0;
	}

	.burger__center {
		top: 7px;
	}

	.burger__bottom {
		bottom: 0;
	}
}